.contact-content {
  margin-block: 3rem;
}
.contact-form {
  display: grid;
  place-items: center;
  padding: 3rem 0;
}
.contact-form .form {
  background-color: var(--hotpink);
  padding: 2rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  max-width: 35rem;
  width: 100%;
  font-family: var(--font-Poppins);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contact-form .form .form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact-form .form .form-group input,
textarea {
  padding: 0.75rem 1rem;
  border: 0;
  outline: 4px solid transparent;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.contact-form .form .form-group input:is(:focus-visible, :focus),
textarea:is(:focus-visible, :focus) {
  outline: 3px solid rgba(255, 255, 255, 0.4);
  outline-offset: 2px;
  transition: var(--transition-2);
  -webkit-transition: var(--transition-2);
  -moz-transition: var(--transition-2);
  -ms-transition: var(--transition-2);
  -o-transition: var(--transition-2);
}
.contact-form .form .form-group label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}
.contact-form .form .form-group label span {
  display: grid;
  place-items: center;
}
.contact-form .form textarea {
  resize: vertical;
}
.contact-form .form .form-group .form-btn {
  padding: 0.85rem 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  font-size: 1.25rem;
  background-color: var(--purple);
  color: var(--white);
  border: 0;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  outline: 3px solid var(--purple);
  outline-offset: 3px;
  margin-top: 2rem;
}

.contact-form .form .form-group .form-btn:is(:hover, :focus-visible) {
  box-shadow: 0 0px 24px rgba(252, 47, 228, 0.77);
  transition: var(--transition-1);
  -webkit-transition: var(--transition-1);
  -moz-transition: var(--transition-1);
  -ms-transition: var(--transition-1);
  -o-transition: var(--transition-1);
  z-index: 0;
  letter-spacing: 0.5px;
}
